body {
    margin : 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #003c71;
}
.caja{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #061e26;
    text-align: center;
}

.caja h1 {
    color: white;
    font-size: 16px;
    text-transform: uppercase;
}

.caja input[type = "text"],.caja input[type = "text"]
{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 22px;
    transition: 0.25s;
}

.caja input[type = "text"]:focus,.caja input[type = "text"]:focus
{
    width: 280px;
    border-color: #2ecc71;
}
.caja input[type = "submit"]
{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 22px;
    transition: 0.25s;
    cursor: pointer;
}

.caja input[type = "submit"]:hover{
    background: #1aff53;
    color: black;
}

.caja output[type = "number"]
{
    color: #1aff53;
    font-size: 40px;

}